# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.env

# Logs
logs
*.log
logs/**/*.log

# OS
.DS_Store
Thumbs.db

# Editor & IDE
.vscode/
.idea/
*.swp

# Vue.js / Vite / Webpack
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.*.local

# Backend
backend/node_modules/
backend/.env
backend/.env.local

# Test coverage
coverage/
*.lcov

# Misc
.env.local
.env.*.local
.cache/
temp/
.git

# debug / tests locaux
response.json


frontend/.env.production
frontend/.env.development
.vscode/


frontend/src/assets/images/Postman-win64-Setup.exe
