# PORT sur lequel le serveur Express tourne
PORT=5000

# URL de connexion MongoDB (remplacer les <...> par vos infos réelles)
MONGODB_URI=mongodb+srv://<TON_USERNAME>:<TON_PASSWORD>@<TON_CLUSTER>.mongodb.net/ahmi?retryWrites=true&w=majority

# Clé secrète pour signer les JWT d'accès
JWT_SECRET=secret_key

# Clé secrète pour les tokens de rafraîchissement (JWT)
JWT_REFRESH_SECRET=refresh_secret

# Durée de validité du token d'accès (ex : 1h, 24h, 7d, etc.)
TOKEN_EXPIRES_IN=1y

# Durée de validité du refresh token
REFRESH_TOKEN_EXPIRES_IN=7d

