@import './styles/design-variables.css';
@tailwind base;
@tailwind components;

@layer utilities {
  .font-montserratAlt {
    font-family: 'Montserrat Alternates', sans-serif;
  }
  .hover-link-accessible {
    @apply px-4 py-2 rounded-sm hover:bg-ahmi-surface-secondary hover:text-ahmi-text-invert transition-colors;
  }
  .hover-link-accessible-desktop {
    @apply text-ahmi-text-invert hover:text-ahmi-text-invert hover:bg-ahmi-surface-secondary transition-colors rounded px-2;
  }
}

@tailwind utilities;

/* Base typographie */
h1 {
  @apply text-3xl font-montserratAlt font-bold text-ahmi-text-primary;
}
h2 {
  @apply text-2xl font-montserratAlt font-semibold text-ahmi-text-default;
}
p {
  @apply text-base font-sans text-ahmi-text-default;
}
a {
  @apply text-ahmi-accent underline focus:outline-none focus:ring-2 focus:ring-ahmi-secondary;
}

/* App global */
#app {
  width: 100%;
  min-height: 100vh;
  padding: 2rem 0;
  font-family: var(--font-body-family);
  color: var(--text-primary);
  background-color: var(--color-bg);
}

/* Liens cliquables */
a,
.green {
  text-decoration: none;
  color: var(--color-primary);
  transition: background-color 0.3s, color 0.3s;
  padding: 3px;
  border-radius: var(--radius-minimal);
}

a:hover {
  background-color: var(--color-accent);
  color: var(--text-secondary);
  border-radius: var(--radius-minimal);
}
form {
  @apply sm:px-6;
}
