@import './base.css';

@tailwind utilities;

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: var(--font-body-family); /* Utilisation de la police définie */
  color: var(--text-primary); /* Utilisation de la couleur de texte principale */
}

a,
.green {
  text-decoration: none;
  color: var(--color-primary); /* Remplacement par la couleur primaire */
  transition: 0.4s;
  padding: 3px;
  border-radius: var(--radius-minimal);
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-accent); /* Remplacement par la couleur d'accent */
    border-radius: var(--radius-minimal);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
