:root {
  /* === AHMI Color Tokens === */

  /* Fond / Accent */
  --color-bg: #f0e7da;
  --color-accent: #efe3cb;

  /* Principaux (bleus) */
  --color-primary: #1b3a4b;
  --color-primary-title: #003366;

  /* Secondaires */
  --color-secondary: #87afc7;
  --color-secondary-muted: #b8c2c7;

  /* Texte */
  --text-primary: var(--color-primary);
  --text-secondary: #607c8d;
  --text-brand: var(--color-primary-title);
  --text-invert: #e6ebf0;

  /* Surfaces */
  --surface-primary: #e8ebed;
  --surface-secondary: #4a606d;
  --surface-invert: #0b1820;
  --surface-brand: var(--color-bg);

  /* Borders */
  --border-primary: #00152b;

  /* === Typographie  === */
  --font-h1-size: 40px;
  --font-h1-line-height: 48px;
  --font-h1-family: 'Montserrat', sans-serif;

  --font-body-size: 16px;
  --font-body-line-height: 19.2px;
  --font-body-family: 'Open Sans', sans-serif;

  /* === Fonts H1 === */
  --font-h1-size: 40px;
  --font-h1-line-height: 48px;
  --font-h1-family: 'Montserrat', sans-serif;
  --font-h1-weight: 400;

  --font-h1-bold-family: 'Montserrat Alternates', sans-serif;
  --font-h1-bold-weight: 700;

  /* === Fonts H2 === */
  --font-h2-size: 28px;
  --font-h2-line-height: 33.6px;
  --font-h2-family: 'Montserrat', sans-serif;
  --font-h2-weight: 300;
  --font-h2-style: italic;

  --font-h2-bold-weight: 700;

  /* === Fonts H3 === */
  --font-h3-size: 19px;
  --font-h3-line-height: 22.8px;
  --font-h3-family: 'Montserrat', sans-serif;
  --font-h3-weight: 400;

  --font-h3-bold-weight: 700;

  /* === Fonts Body === */
  --font-body-size: 16px;
  --font-body-line-height: 19.2px;
  --font-body-family: 'Open Sans', sans-serif;
  --font-body-weight: 400;

  --font-body-bold-weight: 700;

  /* === Fonts Caption === */
  --font-caption-size: 13px;
  --font-caption-line-height: 15.6px;
  --font-caption-family: 'Arial', sans-serif;
  --font-caption-weight: 400;

  --font-caption-bold-weight: 700;

  /* === Spacings === */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xl: 48px;
  --spacing-2xl: 104px;

  /* === Border Radius === */
  --radius-minimal: 4px;
  --radius-rounded: 8px;
  --radius-full: 360px;
}
